[delta]
  syntax-theme = Kanagawa

[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[diff]
	algorithm = histogram

[merge]
	tool = nvim
	conflictstyle = zdiff3

[push]
	autoSetupRemote = true
	default = current

[pull]
	rebase = true

[rebase]
	updateRefs = true
	autstash = true

[rerere]
	enabled = true

[status]
	showUntrackedFiles = all

[user]
	name = Frank Friberg
	email = frankfriberg@users.noreply.github.com 

[includeIf "gitdir:~/projects/allgravy/"]
    path = ~/projects/allgravy/.gitconfig

[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential]
	useHttpPath = true
