git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
    - externalDiffCommand: difft --color=always
gui:
  showFileTree: false
  theme:
    selectedLineBgColor:
      - reverse
os:
  edit: '[ -z "$NVIM" ] && (nvim -- {{filename}}) || (nvim --server "$NVIM" --remote {{filename}})'
  editAtLine: '[ -z "$NVIM" ] && (nvim +{{line}} -- {{filename}}) || (nvim --server "$NVIM" --remote- {{filename}} && nvim --server "$NVIM" --remote-send ":{{line}}<CR>")'
  openDirInEditor: '[ -z "$NVIM" ] && (nvim -- {{dir}}) || (nvim --server "$NVIM" --remote {{dir}})'
  # edit: nvim --server "$NVIM" --remote "{{filename}}"
  # editAtLine: nvim --server "$NVIM" --remote "+{{line}} {{filename}}"
customCommands:
  - key: "u"
    command: "git submodule update -- {{.SelectedFile.Name}}"
    context: "files"
    description: "Update submodule"
  - key: "E"
    description: "Make an empty commit"
    context: "global"
    command: 'git commit --allow-empty -m "{{index .PromptResponses 0}}"'
    prompts:
      - type: "input"
        title: "Empty commit message"
        initialValue: ""
  - key: "<c-p>"
    description: "Push specific branch"
    context: "localBranches"
    command: "git push --force-with-lease {{.SelectedRemote.Name}} {{.SelectedLocalBranch.Name}}"
  - key: "a"
    context: "localBranches"
    command: git branch --merged | sed 's/^\* //' | awk '{$1=$1; print}' | grep -Ev '^(main|master)$' | tr '\n' ' ' | sed 's/ $//'
